@font-face {
  font-family: Titillium;
  src: url('fonts/TitilliumWeb-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Titillium;
  src: url('fonts/TitilliumWeb-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Titillium;
  src: url('fonts/TitilliumWeb-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Minion;
  src: url('fonts/Minion\ Pro\ Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: FootLightMT;
  src: url('fonts/FootlightMTLight.ttf');
  font-weight: lighter;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Titillium;
}

header {
  color: #858688;
}

header>div.upLine {
  margin-top: 78px;
  display: flex;
}

header .logo {
  display: flex;
  color: #60326c;
  font-size: 30px;
  width: 40%;
  margin: auto;
  font-weight: 700;
}

header .logo b {
  color: #858680;
}

header .nav {
  display: flex;
  width: 35%;
  margin-right: 4%;
  justify-content: space-between;
  align-self: center;
}

header .nav .sign-up {
  color: white;
  width: 85px;
  height: 37px;
  border-radius: 15px;
  background: linear-gradient(45deg, #60326c, #6062b7);
  text-align: center;
  padding-top: 10px;
}

header .nav div.btn:hover {
  background: linear-gradient(45deg, #39b6e1, #5e7bea);
  width: 85px;
  height: 37px;
  border-radius: 15px;
  text-align: center;
  color: white;
  padding-top: 10px;
}

header .langs {
  display: flex;
  width: 79%;
  margin: auto;
  margin-top: 7px;
}

.features {
  width: 1800px;
  background-position: center;
  background-size: cover;
  margin-top: 165px;
  background-repeat: no-repeat;
  background-image: url(images/headerbg.png);
  height: 475px;
}

.features h1 {
  display: flex;
  padding-top: 5px;
  font-weight: 600;
  margin: auto;
  justify-content: center;
  font-size: 60px;
  color: #535356;
}

.features .sLine {
  margin: 0 15px 0 0px;
  display: flex;
  justify-content: center;
}

.features h2 {
  font-weight: 500;
  font-size: 40px;
  color: #535356;
}

.features p {
  font-size: 40px;
  font-weight: 550;
  color: red;
}

.features .btns {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 76px;
  width: 20%;
  justify-content: space-between;
}

.features .btns .create-acc {
  height: 55px;
  display: inline-block;
  color: white;
  background: linear-gradient(45deg, #60326c, #6062b7);
  width: 240px;
  text-align: center;
  padding-top: 17px;
  border-radius: 20px;
  font-weight: 550;
}

.features .btns .create-acc:hover {
  background: linear-gradient(45deg, #39b6e1, #5e7bea);
}

.features .btns .ios-btn {
  height: 50px;
  display: inline-block;
  background-color: #60326c;
  width: 50px;
  border-radius: 25px;
  background-image: url(images/apple-ico.png);
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.features .btns .andr-btn {
  height: 50px;
  display: inline-block;
  background-color: #60326c;
  width: 50px;
  border-radius: 25px;
  background-image: url(images/google-ico.png);
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.about {
  display: flex;
  column-gap: 35px;
  margin-top: 130px;
  justify-content: center;
  color: #959393;
}

.about-list-header {
  font-size: 30px;
  color: #555555;
}

.about-content-list {
  display: flex;
  column-gap: 10px;
  font-family: Titillium;
}

.about-lists {
  padding-top: 2px;
  font-size: 18px;
}

.inline {
  display: inline-block;
}

.about .swiss-privacy .logo1 {
  background-image: url("images\Swiss Privacy.png");
}

.text {
  width: 365px;
  line-height: 22px;
  font-size: 14px;
  padding-top: 23px;
}

.hr2 {
  position: relative;
  left: 20px;
  bottom: 385px;
  width: 1px;
  height: 380px;
  border: 0.5px solid #b9b9b9;
  margin-left: 81%;
  margin-bottom: 2%;
}

.hr3 {
  position: relative;
  right: 190px;
  bottom: 180px;
  width: 1px;
  height: 320px;
  border: 0.5px solid #b9b9b9;
  margin-left: 81%;
  margin-bottom: 2%;
}

.hr4 {
  position: relative;
  right: 190px;
  bottom: 135px;
  width: 1px;
  height: 130px;
  border: 0.5px solid #b9b9b9;
  margin-left: 81%;
  margin-bottom: 2%;
}

.hr5 {
  position: relative;
  right: 6px;
  width: 1px;
  height: 205px;
  bottom: 125px;
  border: 0.5px solid #b9b9b9;
}

.hr6 {
  position: relative;
  right: 10px;
  width: 1px;
  height: 437px;
  border: 0.5px solid #b9b9b9;
}

.ph-security {
  margin: auto;
  margin-top: -145px;

}

.ph-security h1 {
  text-align: center;
  font-size: 55px;
  color: #535353;
}

.ph-security .info {
  margin-top: 12px;
  font-size: 23px;
  display: flex;
  color: #959393;
  flex-direction: column;
}

.ph-security .titleInfo {
  display: flex;
  width: 90%;
  justify-content: center;
}

.info h2+h2 {
  color: red;
}

.ph-security .titleInfo2 {
  display: flex;
  width: 96%;
  justify-content: center;
}

.sec-container {
  display: flex;
  justify-content: right;
  width: 72%;
}


.info-rect {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  color: #959393;
  border: 1px solid #b9b9b9;
  border-radius: 25px;
  height: 60px;
  width: 330px;
  margin-top: 30px;
}

.info-rect p {
  margin: auto;
  align-self: center;
}

.testimonials {
  background: url(images/devices.png);
  background-repeat: no-repeat;
  background-position: 950px 110px;
}

.testimonials .magazins {
  margin-top: 40px;
  background: url(images/magazines.png);
  width: 800px;
  height: 60px;
}

.bald-font {
  font-weight: 700;
}

.wrapper-container {
  display: flex;
  width: 49%;
  justify-content: right;
}

.wrapper {
  width: 500px;
  margin-top: 45px;
}

.wrapper .controls {
  width: 40px;
  display: inline-block;
  height: 200px;
}

.wrapper .controls .btn {
  margin-top: 4px;
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border-radius: 7px;
  border: 1px solid grey;
  background-color: grey;
}

.wrapper .controls+.btn {
  background-color: black;
}

.wrapper .img {
  width: 400px;
  display: inline-block;
  height: 210px;
}

.wrapper img {
  width: 400px;
}

.get-it {
  display: flex;
  text-align: center;
  margin-top: 90px;
  width: 100%;
  flex-direction: column;
}

.get-it h1 {
  font-size: 35px;
  font-weight: 500;
  color: #535353;
  text-align: right;
  width: 61%;
}

.get-it-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 22%;
}

.testimonials .get-it p {
  font-size: 14px;
  color: #959393;
}

div .hr {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  margin-top: 170px;
  height: 1px;
  border-top: 1px solid #b9b9b9;
  margin-bottom: 20px;
}

.partners {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.partners .support h1 {
  font-size: 37px;
  color: #535353;
}

.partners .support h2 {
  margin-top: 10px;
  font-size: 30px;
  color: #959393;
  margin-bottom: 15px;
}

.donate-btns {
  display: flex;
  align-items: center;
  margin: auto;
  width: 35%;
  justify-content: space-between;
  align-self: center;
}


.partners .support .donate-btns .button {
  padding-top: 20px;
  height: 60px;
  width: 250px;
  border-radius: 25px;
  background: linear-gradient(45deg, #636b92, #60326c);
}

.partners .support .donate-btns .button:hover {
  background: linear-gradient(45deg, #39b6e1, #5e7bea);
}

.partners .support .donate-btns .button a {
  text-decoration: none;
  color: white;
}

.partners p:last-child {
  margin-right: 365px;
  text-align: right;
  font-size: 13px;
  color: #555555;
}

.hr1 {
  margin-top: 70px;
  width: 1400px;
  height: 1px;
  border-top: 1px solid #b9b9b9;
}

.marks {
  background: url(images/Layer\ 31.png) no-repeat;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: auto  ;
  width: 80%;
}

.contacts {
  color: rgb(92, 92, 92);
  display: flex;
  font-family: Titillium;
  font-size: 14px;
  line-height: 24px;
  height: 280px;
  margin: auto;
  margin-top: 100px;
  justify-content: space-between;
  width: 70%;
}

.contacts-element {
  font-weight: bold;
}

.contacts-element-link {
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.social-networks {
  color: rgb(92, 92, 92);
  margin-left: 175px;
  font-family: Titillium;
  font-size: 12px;
}

.social-networks-link {
  color: rgb(92, 92, 92);
}

.footer__content-lists {
  height: 80%;
  text-align: right;
}


ul.footer__content-list {
  direction: rtl;
  float: left;
  list-style: disc;
  list-style-position: inside;
}

.footer__content-list {
  margin-left: 60px;
  font-size: 18px;
  font-weight: bold;
}

.footer__content-list-link {
  color: rgb(92, 92, 92);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}
